.ps-content.pt-80.pb-80
    .ps-container
        .table-responsive
            table.table.ps-table.ps-table--whishlist
                thead
                    tr
                        th All Products
                        th Price
                        th View
                        th Remove
                tbody
                    - for (var i = 1; i < 4; i ++)
                        tr
                            td
                                a(href='product-detail.html').ps-product--compare
                                    img(src="images/shopping-cart/"+i+".jpg" alt="").mr-15
                                    if i == 1
                                        |  Air jordan One mid
                                    else if i == 2
                                        |  The Crusty Croissant
                                    else
                                        | The Rolling Pin
                            td $150
                            td: a(href='product-detail.html').ps-product-link View Product
                            td: .ps-remove







