script(src="plugins/jquery/dist/jquery.min.js")
script(src="plugins/bootstrap/dist/js/bootstrap.min.js")
script(src="plugins/owl-carousel/owl.carousel.min.js")
script(src="plugins/bootstrap-select/dist/js/bootstrap-select.min.js")
script(src="plugins/jquery-bar-rating/dist/jquery.barrating.min.js")
script(src="plugins/imagesloaded.pkgd.js")
script(src="plugins/masonry.pkgd.min.js")
script(src="plugins/isotope.pkgd.min.js")
script(src="plugins/slick/slick/slick.min.js")
script(src="plugins/jquery.matchHeight-min.js")
script(src="plugins/gmap3.min.js")
script(src="plugins/lightGallery-master/dist/js/lightgallery-all.min.js")

block page_scripts

// Custom scripts
script(src="js/main.js")
script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDsUcTjt43mTheN9ruCsQVgBE-wgN6_AfY&region=GB")