link(rel="stylesheet", href="plugins/bootstrap/dist/css/bootstrap.min.css")
link(rel="stylesheet", href="plugins/owl-carousel/assets/owl.carousel.css")
link(rel="stylesheet", href="plugins/bootstrap-select/dist/css/bootstrap-select.min.css")
link(rel="stylesheet", href="plugins/jquery-bar-rating/dist/themes/fontawesome-stars.css")
link(rel="stylesheet", href="plugins/slick/slick/slick.css")
link(rel="stylesheet", href="plugins/lightGallery-master/dist/css/lightgallery.min.css")

// Custom
link(rel="stylesheet", href="css/style.css")
block page_styles
