-
    data_navigation = [
        {
            text: 'Home',
            url : 'index.html',
            current: 'homepage',
            extraClass: 'menu-item-has-children dropdown',
            subClass: 'sub-menu',
            subMenu : [
                {
                    url: 'index.html',
                    text: 'Homepage Fashion'
                },
                {
                    url: 'home-jewelry.html',
                    text: 'Homepage Jewelry'
                },
                {
                    url: 'home-fashion-2.html',
                    text: 'Homepage Fashion #2'
                },
                {
                    url: 'home-fashion-3.html',
                    text: 'Homepage Fashion #3'
                },
            ],
        },
        {
            text: 'Men',
            url : '#',
        },
        {
            text: 'Women',
            url : '#',
            current: 'product'
        },
        {
            text: 'Kids',
            url : '#',
            current: 'product'
        },
        {
            text: 'News',
            url : '#',
            extraClass: 'menu-item-has-children dropdown',
            subClass: 'sub-menu',
            current: 'blog',
            subMenu : [
                {
                    url: 'blog-grid.html',
                    text: 'Blog-grid',
                    extraClass: 'menu-item-has-children dropdown',
                    subClass: 'sub-menu',
                    subMenu : [
                        {
                            url: 'blog-grid.html',
                            text: 'Blog Grid 1'
                        },
                         {
                            url: 'blog-grid-2.html',
                            text: 'Blog Grid 2'
                         },
                    ]
                },
                {
                    url: 'blog-list.html',
                    text: 'Blog List'
                },
            ],

        },
        {
            text: 'Contact',
            url : 'contact-us.html',
            current: 'contact',
        },
    ]