-
    blog_grid = [
        'Nike’s Latest Football Cleat Breaks the Mold',
        'Breaking Down the Black Rose Tech Fleece Collection',
        'How Traditions and Science Come Together to Make Marathon',
        'Unpacking the Breaking2 Race Strategy',
        'The Shoes Athletes Say Will Change the Future of Running',
        'Basketball Phenom Kelsey Plum Signs with Nike',
        "Nike’s Latest Football Cleat Breaks the Mold",
        'Six Reasons Why Breaking2 Goes Beyond 26.2 Miles',
        'Limited Edition Tiempo Totti x Roma Boots Celebrate Totti’s Remarkable'
    ]