extends ../master

block title
    title Xuper - Cart Listing

block page_header

    - var currentPage = 'homepage'
    include ../partials/shared/header
block page_content

    .ps-hero
        .container
            h3 YOUR CART
            p Page Cart
    include ../partials/section/cart
    include ../partials/section/partners
    include ../partials/section/shop-features
    include ../partials/footer








