extends ../master

block title
    title Xuper - Checkout

block page_header

    - var currentPage = 'homepage'
    include ../partials/shared/header
block page_content

    .ps-hero
        .container
            h3 Checkout
            p Page Checkout
    include ../partials/section/checkout
    include ../partials/section/partners
    include ../partials/section/shop-features
    include ../partials/footer








