extends ../master

block title
    title Xuper - Contact Us

block page_header

    - var currentPage = 'homepage'
    include ../partials/shared/header
block page_content
    .ps-hero
        .container
            h3 Contact Page
            p Our Stories
    include ../partials/pages/contact-us
    include ../partials/section/partners
    include ../partials/section/shop-features
    include ../partials/footer








