extends ../master

block title
    title Xuper - Fashion 4

block page_header
    - var currentPage = 'homepage'
    include ../partials/shared/header-3
    include ../partials/module/subscribe-popup

block page_content
    include ../partials/homepage-4/banner
    include ../partials/homepage-4/collection
    include ../partials/homepage-4/new-product
    include ../partials/homepage-4/offer
    include ../partials/homepage-4/blog
    include ../partials/section/shop-features

    include ../partials/footer








