extends ../master

block title
    title Xuper - Product Detail

block page_header

    - var currentPage = 'homepage'
    include ../partials/shared/header
block page_content

    .ps-hero
        .container
            h3 Air Strong Training
            p Single Product Page
    include ../partials/section/product-detail
    include ../partials/section/relate-products
    include ../partials/section/partners
    include ../partials/section/shop-features
    include ../partials/footer








