extends ../master

block title
    title Xuper - Product grid no sidebar

block page_header

    - var currentPage = 'homepage'
    include ../partials/shared/header
block page_content

    .ps-hero
        .container
            h3 SHOP PAGE
            p Shop with Sidebar
    include ../partials/section/product-grid-no-sidebar
    include ../partials/section/partners
    include ../partials/section/shop-features
    include ../partials/footer








