footer.ps-footer.site-footer
    .ps-footer__content: .ps-container
        .row
            +column({cols: [6, 6, 12, 12]})
                .ps-site-info.site-info
                    a(href='index.html').ps-logo: img(src="images/logo.png" alt="")
                    p Xuper is a global fashion destination for 20-somethings. We sell cutting-edge fashion and offer a wide variety of fashion-related content, making Xuper Store the hub of a thriving fashion community.
                    .ps-site-info__contact
                        h4 Contact Info
                        p 179 CMT8, District I, HCM City, Vietnam
                        p (+84 ) 7534 9773, (+84 ) 874 548
                    ul.ps-social
                        li: a(href='#'): i.fa.fa-facebook
                        li: a(href='#'): i.fa.fa-twitter
                        li: a(href='#'): i.fa.fa-dribbble
            +column({cols: [6, 6, 12, 12]})
                .row
                    +column({cols: [4, 4, 4, 12]})
                        .ps-widget.ps-widget--footer.widget.widget_footer
                            h2.ps-widget__title Our Branding
                            ul.ps-list--line
                                li: a(href='#').text-uppercase DKNY
                                li: a(href='#').text-uppercase GUCCI
                                li: a(href='#').text-uppercase BANANA & DOLCE
                                li: a(href='#').text-uppercase HERMER
                                li: a(href='#').text-uppercase CHANEL
                    +column({cols: [4, 4, 4, 12]})
                        .ps-widget.ps-widget--footer.widget.widget_footer
                            h2.ps-widget__title Customer Care
                            ul.ps-list--line
                                li: a(href='#') My Account
                                li: a(href='#') Track your Order
                                li: a(href='#') Customer Service
                                li: a(href='#') FAQs
                                li: a(href='#') Product Support
                    +column({cols: [4, 4, 4, 12]})
                        .ps-widget.ps-widget--footer.widget.widget_footer
                            h2.ps-widget__title Your Account
                            ul.ps-list--line
                                li: a(href='#') Your account
                                li: a(href='#') Newsletter
                                li: a(href='#') Information
                                li: a(href='#') Payment menthod
                                li: a(href='#') Your wishlist
    .ps-footer__copyright
        .ps-container
            .row
                +column({cols: [6, 6, 6, 12]})
                    p &copy; Copyright by <span>XUPER STORE</span>.  Design by <a href="#">Alena Studio</a>.
                +column({cols: [6, 6, 6, 12]})
                    .ps-footer__payment-methods
                        a(href='#'): img(src="images/payment-method/paypal.png" alt="")
                        a(href='#'): img(src="images/payment-method/visa.png" alt="")
                        a(href='#'): img(src="images/payment-method/master-card.png" alt="")
