.ps-section--collection
    .masonry-wrapper(data-col-md="4" data-col-sm="2" data-col-xs='1' data-gap="0" data-radio='4:3')
        .ps-masonry
            .grid-sizer
            .grid-item.large: .grid-item__content-wrapper: a(href='product-listing.html').ps-collection.ps-collection--2nd: img(src="images/collection/fashion-3/1.jpg" alt="")
            .grid-item: .grid-item__content-wrapper: a(href='product-listing.html').ps-collection.ps-collection--2nd: img(src="images/collection/fashion-3/2.jpg" alt="")
            .grid-item: .grid-item__content-wrapper: a(href='product-listing.html').ps-collection.ps-collection--2nd: img(src="images/collection/fashion-3/3.jpg" alt="")
            .grid-item: .grid-item__content-wrapper: a(href='product-listing.html').ps-collection.ps-collection--2nd: img(src="images/collection/fashion-3/4.jpg" alt="")
            .grid-item: .grid-item__content-wrapper: a(href='product-listing.html').ps-collection.ps-collection--2nd: img(src="images/collection/fashion-3/5.jpg" alt="")
