.ps-section.pt-80.pb-30
    .ps-container
        .ps-section__header.text-center
            h2.ps-section__title NEWEST PRODUCT
            p Featured collections created and curated by our editors
        .ps-section__content
            .row
                - for (var i = 1; i <=8; i ++)
                    +column({cols: [3, 3, 6, 12]})
                        .ps-product--fashion
                            .ps-product__thumbnail
                                a(href='product-detail.html').ps-product__overlay
                                img(src="images/product/fashion-" + i + ".jpg" alt="").lazy
                                if i == 4
                                    .ps-badge: span New
                                else if i == 1 || i == 6
                                    .ps-badge.ps-badge--sale-off: span -40%
                                ul.ps-product__actions
                                    li: a(href='#' title="Quick View"): i.ps-icon-eye
                                    li: a(href='#' title="Compare"): i.ps-icon-compare
                                    li: a(href='#' title="Favorite"): i.ps-icon-heart
                            .ps-product__content
                                a(href='product-detail.html').ps-product__title PARKER BACKPACK
                                if i == 1 || i == 6
                                    p.ps-product__price
                                        del $450.89
                                        | $200
                                else
                                    p.ps-product__price $350.00
                                a(href='#' title="Add To Cart").ps-product__cart: i.ps-icon-cart-2

