.ps-section
    .ps-container
        .ps-section__header.text-center
            h2.ps-section__title Our Story
            p Here are key products that bring fashionistas to Xuper Store.
        .ps-section__content
            .row
                - for (var i = 1; i <= 3; i ++)
                    +column({cols: [4, 4, 12, 12]})
                        .ps-post.ps-post--home
                            .ps-post__thumbnail
                                .ps-post__posted
                                    span.date 11
                                    span.month Jan
                                a(href='blog-detail.html').ps-post__overlay
                                if i == 1
                                    img(src="images/blog/home-1.jpg" alt="").lazy
                                else if i == 2
                                    img(src="images/blog/home-2.jpg" alt="").lazy
                                else
                                    img(src="images/blog/home-3.jpg" alt="").lazy
                            .ps-post__content
                                if i == 1
                                    a(href='blog-detail.html').ps-post__title An Inside Look at the Breaking2 Kit
                                else if i == 2
                                    a(href='blog-detail.html').ps-post__title Unpacking the Breaking2 Race Strategy
                                else
                                    a(href='blog-detail.html').ps-post__title Nike’s Latest Football Cleat
                                p.ps-post__meta
                                    span By:
                                        a(href='blog.html').mr-5  Alena Studio
                                p Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further…
                                a(href='blog-detail.html').ps-post__morelink Read more
                                    i.ps-icon-arrow-right
