.ps-section--offer-1
    .container
        .ps-block--offer-fashion
            .ps-block__left.bg--cover(data-background='images/offers/home-offer-1.jpg')
            .ps-block__right
                h3 Converse Legacy Duffle
                h2 $155 <del> $255</del>
                p Over the past 50 years, Fjallraven has expanded from an office in a basement to a globally respected brand...
                ul.ps-countdown.ps-countdown--fashion(data-time="May 30, 2019 12:00:00")
                    li <span class="days"></span><p>Days</p>
                    li <span class="hours"></span><p>Hours</p>
                    li <span class="minutes"></span><p>minutes</p>
                    li <span class="seconds"></span><p>Seconds</p>
                a(href='#').ps-btn--outline Order Now