.ps-search
    .ps-search__content
        form(action="do_action" method="post" class="ps-form--search")
            h3 Enter your keywork...
            .form-group
                input.form-control(type="text" placeholder="")
                button.ps-btn.ps-btn--fullwidth Search
a(href='#').ps-btn--search-close