.ps-subscribe
    .row
        .col-md-6.col-sm-12.col-md-push-6
            .ps-subscribe__content
                i.ps-icon-notify
                h3 SIGN UP TO NEWSLETTERS
                p And receive <strong>$25 coupon</strong> for first shopping ...!
        .col-md-6.col-sm-12.col-md-pull-6
            form(action="do_action" method="post" class="ps-form--subscribe")
                .form-group
                    .form-group__icon: i.fa.fa-envelope
                    input.form-control(type="text" placeholder="Type Your Email")
                button: i.ps-icon-arrow-right
