.ps-section.ps-section--campaign.pt-30.pb-70
    .ps-container
        .ps-post--campaign
            .ps-post__thumbnail.bg--cover(data-background="images/home-jewelry/campaign.png")
                a(href='#').ps-post__overlay
            .ps-post__content
                h3 FALL 2017
                h2 THERE’S <br> ONLY ONE
                p Creativity. Passion. Individuality. There is only one you. And there is only one Tiffany.
                a(href='product-listing.html').ps-post__morelink BROWSE THE CAMPAIGN
