.ps-section.ps-section--offer-2
    .ps-container
        .ps-block--offer
            .ps-block__left.bg--cover(data-background="images/offers/offer-jewelry.jpg")
            .ps-block__right
                h3 ELSA PERETTI™ <br> DIAMONDS BY THE YARD
                p SALEOFF <span> 50%</span>
                ul.ps-countdown(data-time="July 29, 2018 15:37:25")
                    li <span class="hours"></span><p>Hours</p>
                    li.divider :
                    li <span class="minutes"></span><p>minutes</p>
                    li.divider :
                    li <span class="seconds"></span><p>Seconds</p>
                a(href='#').ps-btn.ps-btn--yellow TRY NOW