#contact-map(data-address="New York, NY" data-title="BAKERY LOCATION!" data-zoom="17")
main.ps-main
    .ps-container
        .ps-contact
            .row
                +column({cols: [6, 12, 12, 12]})
                    form(action="do_action" method="post" class="ps-form--contact")
                        .row
                            +column({cols: [6, 6, 6, 12]})
                                .form-group
                                    label Name <sup>*</sup>
                                    input.form-control(type="text" placeholder="")
                            +column({cols: [6, 6, 6, 12]})
                                .form-group
                                    label Email <sup>*</sup>
                                    input.form-control(type="text" placeholder="")
                        .form-group
                            label Your Message <sup>*</sup>
                            textarea.form-control(rows="7")
                        .form-group
                            button.ps-btn.pl-60.pr-60 Submit
                +column({cols: [6, 12, 12, 12]})
                    .ps-contact__info
                        .row
                            +column({cols: [6, 6, 6, 12]})
                                .ps-block--contact
                                    h3 OFFICE AT AMERICA
                                    h4 BASEMENT COMPANY, NEW YORK
                                    p
                                        i.fa.fa-envelope-o
                                        a(href='#') hello@example.com
                                    p
                                        i.fa.fa-phone
                                        |  +1 650-253-0000
                            +column({cols: [6, 6, 6, 12]})

                                .ps-block--contact
                                    h3 OFFICE AT VIETNAM
                                    h4 189/32 BASEMENT COMPANY, ABC, VIET NAM
                                    p
                                        i.fa.fa-envelope-o
                                        a(href='#') hello@basis.com
                                    p
                                        i.fa.fa-phone
                                        |  +1 650-253-0000
                            +column({cols: [6, 6, 6, 12]})
                                .ps-block--contact
                                    h3 OFFICE AT PARIS
                                    h4 189/32 BASEMENT COMPANY, PARIS, FRANCE
                                    p
                                        i.fa.fa-envelope-o
                                        a(href='#') hello@basis.com
                                    p
                                        i.fa.fa-phone
                                        |  +1 650-253-0000
                            +column({cols: [6, 6, 6, 12]})
                                .ps-block--contact
                                    h3 FOLLOW US
                                    ul.ps-social
                                        li: a(href='#'): i.fa.fa-facebook
                                        li: a(href='#'): i.fa.fa-twitter
                                        li: a(href='#'): i.fa.fa-feed